body {
  background: #ecf5ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #61acee;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #ecf5ff;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #61acee;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.current-details {
  color: rgba(37, 78, 98, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-temperature-container {
  display: flex;
  gap: 10px;
}
.current-details strong {
  color: #336382;
}

.weather-icon {
  width: px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
}

.current-temperature-unit {
  font-size: 28px;
  top: 16px;
}
.forecast-day {
  text-align: center;
  color: rgba(37, 78, 98, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-day-icon {
  font-size: 38px;
  text-align: center;
}

.temperatures-low-high {
  text-align: center;
  color: #336382;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.temp {
  padding: 5px;
}
.forecast-day {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: rgba(39, 33, 66, 0.4);
}
